* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #8dd0f5 100%);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-position: center;
    background-size: cover;
}

.hide {
    display: none;
}

.container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
    max-width: 400px;
}

/* Form */
.container h3 {
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
}

#input-search {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

#input-button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Clima */
#city-information {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#city-information h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.city-information-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-information h2 i {
    font-size: 1rem;
}

#city-information span {
    margin: 0.6rem;
}

#temp {
    font-size: 4rem;
}

#temp span {
    margin-right: -10px;
}


#weather-informations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#weather {
    text-transform: capitalize;
    font-weight: bold;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#humidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}

#error-message {
    padding-top: 2rem;
}

/* Loader */
#loader {
    margin-top: 50px;
    text-align: center;
}

#loader i {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}